.typewriter {
	display: none;
}

.typewriter-active span {
	font-family: monospace;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
}

.typewriter-active span.show {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}