.typewriter {
	display: none;
}

.typewriter-active span {
	font-family: monospace;
	opacity: 0;
}

@-webkit-keyframes typewriter { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes typewriter { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes typewriter { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes typewriter { 0% { opacity: 0; } 100% { opacity: 1; } }
